In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import datetime

In [54]:
klines_cnames = [
    "Open time",
    "Open",
    "High",
    "Low",
    "Close",
    "Volume",
    "Close time",
    "Base asset volume",
    "Number of trades",
    "Taker buy volume",
    "Taker buy base asset volume",
    "Ignore",
]
folders = [
    #"XMRUSDT",
    #"ATOMUSDT",
    "BTCUSDT",
    "ETHUSDT",
    #"LINKUSDT",
    #"SOLUSDT",
    #"VETUSDT",
    #"AAVEUSDT",
    #"AVAXUSDT",
    #"DOTUSDT",
    #"FILUSDT",
    "LTCUSDT",
    #"TRXUSDT",
    #"XLMUSDT",
    #"ADAUSDT",
    "BNBUSDT",
    #"EOSUSDT",
    #"GRTUSDT",
    #"MATICUSDT",
    #"UNIUSDT"
]
stems=[
    "-1d-2018-01.csv",
    "-1d-2018-02.csv",
    "-1d-2018-03.csv",
    "-1d-2018-04.csv",
    "-1d-2018-05.csv",
    "-1d-2018-06.csv",
    "-1d-2018-07.csv",
    "-1d-2018-08.csv",
    "-1d-2018-09.csv",
    "-1d-2018-10.csv",
    "-1d-2018-11.csv",
    "-1d-2018-12.csv",
    "-1d-2019-01.csv",
    "-1d-2019-02.csv",
    "-1d-2019-03.csv",
    "-1d-2019-04.csv",
    "-1d-2019-05.csv",
    "-1d-2019-06.csv",
    "-1d-2019-07.csv",
    "-1d-2019-08.csv",
    "-1d-2019-09.csv",
    "-1d-2019-10.csv",
    "-1d-2019-11.csv",
    "-1d-2019-12.csv",
    "-1d-2020-01.csv",
    "-1d-2020-02.csv",
    "-1d-2020-03.csv",
    "-1d-2020-04.csv",
    "-1d-2020-05.csv",
    "-1d-2020-06.csv",
    "-1d-2020-07.csv",
    "-1d-2020-08.csv",
    "-1d-2020-09.csv",
    "-1d-2020-10.csv",
    "-1d-2020-11.csv",
    "-1d-2020-12.csv",
    "-1d-2021-01.csv",
    "-1d-2021-02.csv",
    "-1d-2021-03.csv",
    "-1d-2021-04.csv",
    "-1d-2021-05.csv",
    "-1d-2021-06.csv",
    "-1d-2021-07.csv",
    "-1d-2021-08.csv",
]

In [68]:
all_data = None
for sym in folders:
    for s in stems:
        path = "klines_data/" + sym + "/" +sym+ s
        #print(path)
        data = pd.read_csv(path,header=None)
        data.columns=cnames
        
        if all_data is None:
            all_data = data
        else:
            all_data = pd.concat([all_data, data])

pd.to_datetime(all_data['Close time'], unit='ms')
all_data["Open_time_"]=pd.to_datetime(all_data['Open time'], unit='ms')
all_data["Close_time_"] = pd.to_datetime(all_data['Close time'], unit='ms')

In [69]:
all_data.shape

(5356, 14)

In [70]:
all_data

,Open time,Open,High,Low,Close,Volume,Close time,Base asset volume,Number of trades,Taker buy volume,Taker buy base asset volume,Ignore,Open_time_,Close_time_
0,1514764800000,13715.65,13818.55,12750.00,13380.00,8.609916e+03,1514851199999,1.147997e+08,105595,3961.938946,5.280975e+07,0,2018-01-01,2018-01-01 23:59:59.999
1,1514851200000,13382.16,15473.49,12890.02,14675.11,2.007809e+04,1514937599999,2.797171e+08,177728,11346.326739,1.580801e+08,0,2018-01-02,2018-01-02 23:59:59.999
2,1514937600000,14690.00,15307.56,14150.00,14919.51,1.590567e+04,1515023999999,2.361169e+08,162787,8994.953566,1.335873e+08,0,2018-01-03,2018-01-03 23:59:59.999
3,1515024000000,14919.51,15280.00,13918.04,15059.54,2.132965e+04,1515110399999,3.127816e+08,170310,12680.812951,1.861168e+08,0,2018-01-04,2018-01-04 23:59:59.999
4,1515110400000,15059.56,17176.24,14600.00,16960.39,2.325149e+04,1515196799999,3.693220e+08,192969,13346.622293,2.118299e+08,0,2018-01-05,2018-01-05 23:59:59.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,1630022400000,478.20,495.00,467.10,494.50,1.549791e+06,1630108799999,7.478714e+08,967190,799046.726300,3.857594e+08,0,2021-08-27,2021-08-27 23:59:59.999
27,1630108800000,494.60,497.00,482.30,486.20,8.918546e+05,1630195199999,4.347572e+08,647241,445617.787300,2.172718e+08,0,2021-08-28,2021-08-28 23:59:59.999
28,1630195200000,486.10,495.50,475.00,479.70,9.107739e+05,1630281599999,4.414231e+08,535858,448184.594000,2.173212e+08,0,2021-08-29,2021-08-29 23:59:59.999
29,1630281600000,479.70,480.90,457.00,460.30,1.125498e+06,1630367999999,5.321771e+08,645920,560117.834600,2.650346e+08,0,2021-08-30,2021-08-30 23:59:59.999
30,1630368000000,460.20,477.80,448.20,463.90,1.477346e+06,1630454399999,6.870976e+08,753856,731442.217000,3.402950e+08,0,2021-08-31,2021-08-31 23:59:59.999

In [67]:
pd.to_datetime(all_data['Close time'], unit='ms')

0    2018-01-01 23:59:59.999
1    2018-01-02 23:59:59.999
2    2018-01-03 23:59:59.999
3    2018-01-04 23:59:59.999
4    2018-01-05 23:59:59.999
               ...
26   2021-08-27 23:59:59.999
27   2021-08-28 23:59:59.999
28   2021-08-29 23:59:59.999
29   2021-08-30 23:59:59.999
30   2021-08-31 23:59:59.999
Name: Close time, Length: 5356, dtype: datetime64[ns]