In [18]:
import os
import pandas as pd
import numpy as np

In [19]:
data=pd.read_csv("data/bq-results-20210825-184019-etf5tqm6acs8.csv")

In [20]:
output = pd.DataFrame({
    "symbol":np.unique(data.symbol),
    "description":"",
})

In [27]:
output.to_csv("data/symbol_data.csv", index=False)

In [28]:
od=pd.read_csv("data/symbol_data.csv")
od.head()

      symbol  description
0   1INCHBTC          NaN
1  1INCHUSDT          NaN
2   AAVEBKRW          NaN
3    AAVEBNB          NaN
4    AAVEBTC          NaN